In [1]:
import psycopg2
import yaml
import json
import datetime
from psycopg2.extras import Json
from psycopg2.extensions import register_adapter

register_adapter(dict, Json)

In [2]:
# Read the db_conn YAML file
with open('db_conn.yaml', 'r') as file:
    yaml_data = yaml.safe_load(file)

In [3]:
# Connect to the PostgreSQL database
try:
    connection = psycopg2.connect(
        host=yaml_data['host'],
        port=yaml_data['port'],
        database=yaml_data['database'],
        user=yaml_data['user'],
        password=yaml_data['password']
    )

    # Create a cursor object
    cursor = connection.cursor()

    # Define the query to select the first 10 rows
    query = "SELECT * FROM photos.image LIMIT 10;"

    # Execute the query
    cursor.execute(query)

    # Fetch the results
    rows = cursor.fetchall()

    # Print the results
    for row in rows:
        nasa_filename = row[0]
        date_time_captured = row[3]
        print(nasa_filename, date_time_captured)

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

ISS054-E-37430.JPG 2018-02-08 11:51:50
ISS054-E-37431.JPG 2018-02-08 11:51:51
ISS054-E-37427.JPG 2018-02-08 11:51:47
ISS054-E-37429.JPG 2018-02-08 11:51:49
ISS054-E-37423.JPG 2018-02-08 11:51:43
ISS054-E-37424.JPG 2018-02-08 11:51:44
ISS054-E-37425.JPG 2018-02-08 11:51:45
ISS054-E-37428.JPG 2018-02-08 11:51:48
ISS054-E-3743.JPG 2017-12-24 09:38:03
ISS054-E-37432.JPG 2018-02-08 11:51:52

In [4]:
# 1. Write a query to get all the rows from the photos.image table.
# if the results from all of the rows is too big to fit in memory, 
# you start with a subset of the rows.

# 2. Examine the date_time_captured column to look for time lapses movies.
# The length of time between images captureed is not specified but should be 
# constant for a specific time lapse movie, however different time lapse movies 
# may have different time intervals between images. You can look at other columns
# to help identify the time lapse movies, if you think it could help.

# 3. Create a list of lists where each sub list contains the nasa_filename of the 
# images for a specific time lapse movie. 

# 4. Loop though the list of lists and download the images from the OSN to your 
# local computer in a new directory based on the nasa_filenames, 
# ISSMISSION-E-FIRSTFRAME-LASTFRAME, like: /ISS010-E-1000-2000/

In [5]:
# Function to print relevant information on image data
# @params rows the output returned by psycopg2's cursor.fetch*() functions
# @returns Boolean signifying if the operation was successful
def printRows(rows: tuple) -> bool:
    # Print the results
    try:
        for row in rows:
            nasa_filename = row[0]
            date_time_captured = row[3]
            latitude = row[5]
            longitude = row[6]
            print(nasa_filename, date_time_captured, latitude, longitude)
    except Exception as e:
        print(f"an error occured: {e}")
        return False
    finally:
        return True

# Function to find clusters
# Do in increments of 100 entries
# @param entries: Assume already given a list of 100 entries of date_time_captured 
# @return a tuple that contains the starting (inclusive) and ending (exclusive) index of a possible cluster
def detect_cluster(entries: list) -> tuple:
    start = 100  # Used to track where the cluster started
    end = 0  # Used to track where the cluster ended if early
    marginOfError = datetime.timedelta(seconds=2)

    for i in range(len(entries) - 2):
        # Must check at least 3 entries to determine if there is a pattern in increments; use window method
        window = [entries[i], entries[i+1], entries[i+2]]
        interval1 = window[1] - window[0]
        interval2 = window[2] - window[1]
        # If the difference in intervals is beyond our margin of error, then this is not a possible timelapse
        if (interval1 > interval2+marginOfError or interval1 < interval2-marginOfError):
            # End the current cluster if it exists
            if start < 100:
                end = i+2  # Exclusive
                return (start, end)
            continue
        # Possible timelapse, so take note of beginning index and end index
        if i < start: start = i
    # Got through entire list, set end to last index
    end = 100
    return (start, end)

# Extract date_time_captured values from query results
# @params query_results a list of tuples that represent the rows returned from cursor.fetch*()
# @returns a list of datetime objects
def get_date_time_captured(query_results: list) -> list:
    datetime_list = []
    for row in query_results:
        datetime_list.append(row[3])
    return datetime_list

# Transform JSON values in each row into a a compatible string
# @params rows a list of tuples that is the output from cursor.fetch*()
# @returns a list of newly transformed tuples where the JSONs have been converted into a compatible type from Python to SQL
def transform_jsons(rows: list) -> list:
    for row in rows:
        stringified_json = json.dumps(row[15])
        list_row = list(row)
        list_row[15] = stringified_json
        row = tuple(list_row)
    return rows

# Connect to the PostgreSQL database
try:
    connection = psycopg2.connect(
        host=yaml_data['host'],
        port=yaml_data['port'],
        database=yaml_data['database'],
        user=yaml_data['user'],
        password=yaml_data['password']
    )
    movie_list = []  # Final list of time-lapse movies that will be found
    
    # Create a cursor object
    cursor = connection.cursor()

    limit = 200  # Set limit to how many records we want to add to the temp table at a time
    offset = 0  # Tracks where we are in the original table
    # Define the query to select: Create a virtual table that is sorted by date_time_captured
    query_create_view = f"CREATE TEMPORARY TABLE t_temp AS\
                            SELECT * FROM photos.image\
                            ORDER BY date_time_captured, nasa_filename\
                            LIMIT {limit}"
    # Define query to create a temporary table that will hold a cluster of images
    query_create_cluster = "CREATE TEMP TABLE cluster AS SELECT * FROM photos.image LIMIT 0"

    # Execute creation queries
    cursor.execute(query_create_view)
    cursor.execute(query_create_cluster)

    # Define query to get all records from temp table
    query_get_temp_records = "SELECT * FROM t_temp"
    cursor.execute(query_get_temp_records)
    results = cursor.fetchall()

    # We loop finding clusters until our temp table is empty
    query_get_size_of_temp_table = "SELECT count(*) AS exact_count FROM t_temp"
    cursor.execute(query_get_size_of_temp_table)
    count = cursor.fetchone()[0]
    while (count > 0):
        # Get the bounds of our cluster
        bounds = detect_cluster(get_date_time_captured(results))
        num_rows_to_extract = bounds[1] - bounds[0]
    
        # Get these rows for the cluster
        query_get_cluster_rows = f'SELECT * FROM t_temp ORDER BY date_time_captured, nasa_filename LIMIT {num_rows_to_extract} OFFSET {bounds[0]}'
        cursor.execute(query_get_cluster_rows)
        rows = cursor.fetchall()
    
        # Ensure JSONs are transformed into compatible type
        transformed_rows = transform_jsons(rows)
        
        # Slow; TODO: Find way to optimize
        # Insert our selected rows into the cluster table
        for row in transformed_rows:
            # Note: MUST use this format for cursor.execute; just using f'{row}' style will NOT work.
            cursor.execute(f'INSERT INTO cluster VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)', row)
    
        # Remove the cluster rows from our temp table
        query_remove_rows = f'DELETE FROM t_temp\
                                WHERE date_time_captured IN (\
                                SELECT date_time_captured FROM t_temp\
                                ORDER BY date_time_captured, nasa_filename\
                                LIMIT {bounds[1]})'
        cursor.execute(query_remove_rows)
    
        # Ensure offset is updated 
        offset = offset + bounds[1]
    
        # Use offset and limit to fill in our temp table again
        query_fill_temp = f"INSERT INTO t_temp\
                            SELECT * FROM photos.image\
                            WHERE nasa_filename LIKE 'ISS070-E-81___.JPG'\
                            ORDER BY date_time_captured, nasa_filename\
                            LIMIT {limit} OFFSET {offset}"
    
        # Extract filenames of our cluster images and put them into a list
        cluster = []
        query_cluster_filenames = f'SELECT nasa_filename FROM cluster'
        cursor.execute(query_cluster_filenames)
        query_cluster_result = cursor.fetchall()
    
        for row in query_cluster_result:
            cluster.append(row[0])

        # Add the newly found cluster of photos to the movie list
        movie_list.append(cluster)

        # Clear cluster table
        query_clear_cluster = "TRUNCATE ONLY cluster"
        cursor.execute(query_clear_cluster)

        # Get the size of our temp table
        cursor.execute(query_get_size_of_temp_table)
        count = cursor.fetchone()[0]

    print(len(movie_list))
   
    # ------------ Commands used to try to find out schema ------------ #
    #cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 't_temp'")
    #rows = cursor.fetchall()
    #print()
    #print(f'printing column names and data types for t_temp: {rows}')

    #cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'cluster'")
    #rows = cursor.fetchall()
    #print()
    #print(f'printing column names and data types for cluster: {rows}')

except Exception as e:
    print(f"An error occurred: {type(e)}: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

40